.btn-google:hover,
.btn-header:hover,
.btn-go:hover,
.btn-face:hover {
    opacity: 0.8;
}

.btn-back:hover {
    background-color: #e1e1e1;
}

.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 9px;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.user-info {
    position: relative;
    cursor: pointer;
}

.user-info:hover .user-info-list {
    display: block;
}

.user-info-list {
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    width: 148px;
    background-color: var(--white-color);
    color: #000;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    padding: 0;
    display: none;
}

.user-info-list a {
    color: #000;
    width: 100%;
    line-height: 100%;
    display: block;
    padding: 8px 12px;
}

.user-info-list a:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

.user-info-list li:last-child {
    border-top: 1px solid #e9e9e9;
}

.user-info-list::before {
    content: "";
    position: absolute;
    right: 20px;
    top: -17px;
    display: block;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
}

.user-avatar {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.user-info span {
    font-weight: 500;
    margin-left: 4px;
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover > a {
    opacity: 0.8;
}

.header__navbar-list .header__navbar-item-no-pointer{
    cursor: text;
    opacity: 1;
}

.header__navbar-item--bold {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #ccc;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

/* qr-code */
.header_qr {
    position: absolute;
    background-color: var(--white-color);
    left: 0;
    top: calc(100% + 10px);
    width: 186px;
    cursor: default;
    display: none;
    animation: fadeIn ease-in 0.3s;
    will-change: opacity;
    border-radius: 1px;
    z-index: 1;
}

.header_qr::before {
    content: "";
    height: 20px;
    width: 186px;
    position: absolute;
    top: -20px;
    left: 0;
}

.header_qr .qr-code {
    width: 100%;
    border-radius: 1px;
}

.header_qr .dowload {
    display: flex;
    justify-content: space-between;
    padding: 11px;
}

.header_qr .link-dowload {
    height: 17px;
}

.header__navbar-item-qr:hover .header_qr {
    display: block;
}

.notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    transform-origin: 90% top;
    animation: scale ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.display-notify:hover .notify{
    display: block;
}

.header-notify {
    height: 40px;
    background-color: var(--white-color);
}

.notify::before {
    content: "";
    border-width: 16px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -22px;
    cursor: pointer;
}

.header-notify-text {
    color: #999;
    margin: 0 0 0 12px;
    line-height: 40px;
    font-weight: 400;
    font-size: 1.4rem;
}

.notify-info {
    color: var(--black-color);
    padding: 0 12px;
    background-color: rgba(238, 75, 43, 0.1);
}

.notify-info:hover {
    background-color: #f7f7f7;
}

.notify-list {
    padding: 0;
}

.notify-list li {
    list-style: none;
}

.notify-list li a {
    display: flex;
    text-decoration: none;
}

.notify-img {
    width: 60px;
    object-fit: contain;
}

.notify-content {
    margin-left: 10px;
}

.notify-content p {
    margin: 10px;
}

.name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
}

.description{
    font-size: 1.2rem;
    color: #383535;
}

.footer-content {
    width: 100%;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    animation: fadeIn ease 0.3s;
}

.main-modal {
    position: relative;
    margin: auto;
    background-color: var(--white-color);
    width: 480px;
    padding: 0 32px;
    border-radius: 3px;
    animation: scale ease 0.1s;
}

.header-modal {
    padding: 32px 16px;
    display: flex;
    justify-content: space-between;
}

.text-header {
    font-size: 20px;
    font-weight: 500;
}

.btn-header {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}

.boder-modal {
    position: relative;
    display: flex;
    justify-content: center;
}

.boder-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    height: 36px;
    padding-left: 4px;
}

.input {
    border: none;
    outline: none;
    font-size: 14px;
    flex: 1;
    line-height: 1.5rem;
}

.description {
    margin-top: 24px;
    padding: 0 16px;
    display: inline-block;
    text-align: center;
}

.help {
    display: flex;
    justify-content: flex-end;
}

.help .separate {
    display: block;
    border-left: 1px solid #c4c4c4;
    margin: 0 4px;
    height: 16px;
}

.help-detail {
    color: #676767;
    font-size: 13px;
}

.help-password,
.rules {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 13px;
}

.btn {
    margin-top: 72px;
    display: flex;
    justify-content: flex-end;
}

.btn-back {
    color: #000;
    font-size: 14px;
    padding: 8px 28px;
    margin-right: 8px;
    border-radius: 3px;
}

.btn-go {
    color: #fff;
    font-size: 14px;
    padding: 8px 28px;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.footer-modal {
    padding: 16px 32px;
    margin: 16px -32px 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}

.btn-face {
    background-color: rgb(62, 62, 163);
    font-size: 12px;
    padding: 8px;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
}

.btn-google {
    background-color: var(--white-color);
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    padding: 8px;
    color: var(--black-color);
    line-height: 1.5rem;
}

.btn-google span,
.btn-face span {
    padding: 0 32px;
}

/* header- search */
.header-search {
    height: 80px;
    display: flex;
    justify-items: center;
    padding: 0 10px;
    align-items: center;
}


.icon-shopee-logo {
    width: 200px;
    height: 50px;
    margin-right: 32px;
}

.header-search-input {
    flex: 1;
    display: flex;
    height: 40px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 3px;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white-color);
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.search-input {
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 16px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.search-input:focus ~ .search-history {
    display: block;
}

.search-history p {
    padding: 12px 12px;
    font-size: 14px;
    margin: 0;
}

.header-history {
    color: #676767;
}

.history-item {
    font-weight: 410;
}

.history-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}


.selector-search {
    height: 28px;
    border-left: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    width: 150px;
}

.selector-search:hover .search-option {
    display: block;
    cursor: pointer;
}

.search-option::after {
    content: "";
    display: block;
    height: 12px;
    width: 130px;
    position: absolute;
    top: -12px;
    left: 0;
}

.search-option {
    position: absolute;
    right: 0;
    top: 80%;
    list-style: none;
    background-color: var(--white-color);
    padding-left: 0;
    width: 130px;
    border-radius: 2px;
    display: none;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.search-option li {
    display: flex;
    width: 100%;
    padding: 12px 16px;
}

.search-option li:hover {
    background-color: #f3f3f3;
}

.search-option li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.search-option li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.selector-search .icon-selector {
    padding: 0 8px 2px;
    color: #a4a4a4;
}

.icon-option {
    color: var(--primary-color);
    margin-left: 8px;
}

.btn-search {
    height: 34px;
    background-color: var(--primary-color);
    border-radius: 3px;
    margin-right: 3px;
    font-size: 15px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.btn-search:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header-search-cart {
    width: 50px;
    color: white;
    display: flex;
    position: relative;
    margin: 0 50px;
    cursor: pointer;
}

.icon-cart {
    font-size: 25px;
    margin: auto;
}

.cart-empty {
    background-color: var(--white-color);
    position: absolute;
    top: 137%;
    right: 0px;
    width: 400px;
    height: 220px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-search-cart:hover .cart-empty {
    display: flex;
    cursor: default;
}

.bridge::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -1px;
    border-color: transparent transparent var(--white-color) transparent;;
    display: block;
    border-width: 16px 25px;
    border-style: solid;
    cursor: pointer;
}

.img-cart-empty {
    height: 150px;
}

.cart-empty p {
    color: #000;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-card {
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 1px 6px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    top: -8px;
    right: -4px;
    line-height: 14px;
}

.cart-with-product {
    background-color: var(--white-color);
    position: absolute;
    top: 137%;
    right: 0px;
    width: 400px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    display: none;
    color: #000;
    z-index: 1;
}

.header-search-cart:hover .cart-with-product {
    display: block;
    cursor: default;
}

.cart-with-product-header {
    font-size: 14px;
    color: #999;
    padding: 12px 8px;
}
.cart-with-product-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    height: 50vh;
}
.cart-with-product-item {
    display: flex;
    padding: 8px 0 8px 8px;
}
.cart-with-product-img {
    width: 50px;
    height: 50px;
    border: 2px solid #d3d3d3;
}
.cart-with-product-info {
    width: 100%;
    padding: 2px 8px;
    justify-content: space-between;
}

.cart-with-product-info-top {
    display: flex;
    justify-content: space-between;
}
.cart-with-product-info-name {
    display: inline-block;
    font-size: 14px;
    font-weight: 410;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 210px;
}
.cart-with-product-info-price {
    margin-left: 8px;
    font-size: 14px;
    color: var(--primary-color);
}
.cart-with-product-info-quantity {
    font-size: 12px;
    color: #999;
    margin-left: 4px;
}
.cart-with-product-info-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}
.cart-with-product-info-rank {
    font-size: 12px;
    color: #999;
}
.cart-with-product-info-remove {
    font-size: 14px;
}

.container-btn {
    display: flex;
    justify-content: flex-end;
}

.cart-with-product-btn {
    width: 110px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 3px;
    font-size: 13px;
    color: var(--white-color);
    margin: 12px 8px 12px 0;
    text-align: center;
    line-height: 30px;
}

/* container */
.container {
    background-color: #f5f5f5;
}

.app-content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-heading {
    font-size: 1.5rem;
    padding: 20px 16px 0;
    margin-top: 0;
    font-weight: 400;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    right: 16px;
    left: 16px;
}


.category-item-active .category-item-link {
    color: var(--primary-color);
}

.category-item-link {
    position: relative;
    display: block;
    font-size: 1.5rem;
    padding: 10px 16px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort- filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.btn-filter {
    border: none;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 12px;
    min-width: 90px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.select-input {
    z-index: 1;
}

.select-input__label {
    font-size: 1.4rem;
}

.home-filter__page {
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn-disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn-disable .icon-control-page {
    color: #ccc;
}

.icon-control-page {
    margin: auto;
    color: #555;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0,1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0,05);
}

.home-product-item-img{
    padding-top: 100%;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item-price{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-product-item-price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item-price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item-action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item-like {
    font-size: 1.3rem;
}

.home-product-item-liked-icon {
    color: red;
    display: none;
}

.home-product-item-like--liked .home-product-item-liked-icon {
    display: inline-block;
}

.home-product-item-like--liked .home-product-item-empty-icon {
    display: none;
}

.home-product-item-rate {
    font-size: 0.8rem;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.icon-yellow {
    color: rgb(227, 197, 27);
}

.home-product-item-sold {
    font-size: 1.2rem;
    margin-left: 6px;
}

.home-product-item-origin {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 0;
    color: #595959;
    font-size: 1.2rem;
}

.home-product-item-favorite {
    position: absolute;
    color: var(--primary-color);
    background-color: currentColor;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: -4px;
    padding: 0 4px;
}

.home-product-item-favorite::before {
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;
    content: "";
    filter: brightness(70%);
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
}

.home-product-item-favorite span {
    color: var(--white-color);
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}

.home-product-item-favorite i {
    color: var(--white-color);
    font-size: 12px;
}

.home-product-item-sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    padding-top: 4px;
    border-top-right-radius: 2px;
}

.home-product-item-sale-off::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent;
}

.home-product-item-sale-off-percent {
    color: var(--primary-color);
    font-size: 12px;
    line-height: 12px;
    font-weight: 900;
}

.home-product-item-sale-off-label {
    color: var(--white-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.home-product-pagination {
    margin-top: 48px;
    margin-bottom: 32px;
}

/* footer */

.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}

.footer-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item-link {
    font-size: 1.2rem;
    padding: 6px 0;
    color: #737373;
    display: block;
    display: flex;
    align-items: center;
}

.footer-item-link:hover {
    color: var(--primary-color);
}

.footer-item-icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer-dowload {
    display: flex;
}

.footer-dowload-qr {
    width: 80px;
    border: 1px solid #ccc;
}

.footer-dowload-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-dowload-link a {
    display: block;
    margin-left: 16px;
    padding: 4px 0;
}

.footer-dowload-img {
    height: 18px;
}

.footer-bottom {
    margin-top: 36px;
    padding: 8px 0;
    background-color: #f5f5f5;
}

.text-nocoppyright {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
}